.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: var(--el-text-color);
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* chat css */

.chatbox{
  flex: 1;
  background-color: #353541;
  position: relative;
  overflow-y:auto;
  margin-bottom: 74px;
}

.chat-input-holder{
  position: fixed;
  bottom: 0;
  left: 260px;
  right: 0;
  z-index: 11;
}

.chat-input-textarea{
  background-color: #40414f;
  width: 90%;
  padding: 12px;
  color:white;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  border-color: none;
  margin:12px;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0.25);
  resize: none;
  height: 50px;
}

.chat-input-disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.chat-log{
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}

.chat-message.chatgpt{
  background-color: #444654;
}

.chat-message-center{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  padding: 12px;

  padding-left: 24px;
  padding-right: 24px;
}

.message{
  padding-left: 40px;
  padding-right: 40px;
}

.avatar{
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt{
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
